<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".QuoteApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuoteApp">
        <activity
            android:name=".ui.profile.AccountDeletionActivity"
            android:exported="false"
            android:theme="@style/Theme.QuoteApp.DarkSurface" />
        <activity
            android:name=".ui.profile.AboutActivity"
            android:exported="false"
            android:theme="@style/Theme.QuoteApp.DarkSurface" />
        <activity
            android:name=".ui.profile.SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.QuoteApp.DarkSurface" />
        <activity
            android:name=".ui.profile.AchievementsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.quote.QuoteDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.quote.AddQuoteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.QuoteApp.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>
